<html ng-app="MashApp">
<head>
    <title>Testing Mash Application </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="IntegratingFile.js"></script>
    <gcse:searchbox-only></gcse:searchbox-only>
</head>
<body ng-controller="Sentiment">
Enter Text: <input type="text" ng-model="SentiText" id="sentitext"/>
<button ng-click="getReviews(SentiText)">Get Sentiment</button>
{{ sentiment1 }}
<br/><br/><br/>
{{ sentiment }}
</body>
</html>